<ion-modal-view class="modal-as-nav" id="stops-type-popup">
   <ion-header-bar class="stops-popover-menu-item">
     <h1>{{messages.addReference}}</h1>
   </ion-header-bar>
   <ion-content scroll="false" class="stops-popover-menu-content">
     <div class="list">
		<a class="item stops-popup-sort-list-item-noicon" href="#" ng-click="onShipmentSiteSelected('shipment')">
			Shipment ID</a>
		<a class="item stops-popup-sort-list-item-noicon" href="#" ng-click="onShipmentSiteSelected('site')">
			Site ID</a>
	</div>
   </ion-content>
 </ion-modal-view>
