<ion-modal-view class="modal-as-nav" id="stops-shipment-notfound-popup">
   <ion-header-bar class="stops-popover-menu-item">
     <h1>{{messages.shipmentNotFound}}</h1>
   </ion-header-bar>
   <ion-content scroll="false" class="stops-popover-menu-content">
     <div class="list">
		<a class="item item-icon-left stops-popup-sort-list-item" href="#" ng-click="onSelectOption('existing')">
			<i class="icon fa fa-map-marker stops-poppup-menu-item-icon"></i>{{messages.addToExistingStop}}</a>
		<a class="item item-icon-left stops-popup-sort-list-item" href="#" ng-click="onSelectOption('new')">
			<i class="icon fa fa-plus-circle green-color-4 stops-poppup-menu-item-icon"></i>{{messages.createStop}}</a>
		<a class="item item-icon-left stops-popup-sort-list-item" href="#" ng-click="onSelectOption('cancel')">
			<i class="icon fa fa-repeat stops-poppup-menu-item-icon"></i>{{messages.cancel}}</a>
	</div>
   </ion-content>
 </ion-modal-view>
