<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="quitbutton" content="visibility:visible;" />
    <META HTTP-Equiv="SIP" Content="automatic">
    <META HTTP-Equiv="SIPButton" content="visibility:visible;">
    <META HTTP-EQUIV="Stylus" content="enable">
    <META HTTP-Equiv="Imager" Content="imagerCaptureEvent:url('JavaScript:onPictureCaptured(%json)');">
    <META HTTP-Equiv="AudioCapture" content="AudioSaveEvent:url('JavaScript:onAudioCaptured(%json)')">
    
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
    <link href="css/ionic_overrides.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    
    <link href="fonts/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
	
    <script type="text/javascript" src="lib/jquery-2.1.4.min.js"></script>

    <!-- include Rho - use Rho APIs for WM -->
    <!-- pre-4.0 JS API -->
    <script type="text/javascript" src="/public/js/rho_javascript_api.js"></script>
    <!-- compatibility layer -->
    <script type="text/javascript" src="/public/js/rho_common_api_noconflict.js"></script>

    <!-- new Common JS API -->
    <script type="text/javascript" src="/public/api/rhoapi-modules.js"></script>
        
        
	<script type="text/javascript" src="js/constants.js"></script>
    <script type="text/javascript" src="js/callbacks.js"></script>
    <script type="text/javascript" src="js/overrides.js"></script>
        
    <script data-main="main" src="lib/require/require.min.js"></script>
	
	<script type="text/javascript" src="lib/modernizr-touch.js"></script>
	<script type="text/javascript" src="lib/signatureCapture.js"></script>
	<script type="text/javascript" src="lib/jquery.json-2.3.min.js"></script>
        
    <script type="text/javascript">
        
        /*var getCss = function(el) {
            var style = window.getComputedStyle(el);
            return Object.keys(style).reduce(function(acc, k) {
                var name = style[k],
                    value = style.getPropertyValue(name);
                if (value !== null) {
                    acc[name] = value;
                }
                return acc;
            }, {});
        };

        $('*').on('click', function(event) {
            var x = event.clientX, y = event.clientY;
            var elementMouseIsOver = document.elementFromPoint(x, y);
            var css = getCss(elementMouseIsOver);
            var text = elementMouseIsOver.tagName + "." + elementMouseIsOver.className + ':<br>';         
            for(var key in css) {
                text += key + ": " + css[key] + "<br>";
            }

            $('#log').html(text);
            console.log(text); 
        });*/
        
        </script>
</head>
<body>
	<ion-side-menus enable-menu-with-back-views="false">
        <ion-side-menu-content drag-content="false">
            <ion-nav-view></ion-nav-view>
        </ion-side-menu-content>

        <ion-side-menu side="left" class="hide" ng-controller="MenuController" id="sideMenu">
            <ion-content>
                <div class="list">
                    <ion-toggle class="menuItem toggle-small" ng-model="downloadedOnly.value" ng-change="setDownloadOnly()">
                        Downloaded only
                    </ion-toggle>
                    <ion-toggle class="menuItem toggle-small" ng-model="lastViewed.value" ng-change="lastViewedVideos()">
                        Last viewed videos
                    </ion-toggle>
                    <a class="item item-avatar listItem logoutItem" href="#" menu-close ng-click="logout()">
                        <img id="logOffImg" src="img/assets/logout_off.png" />
                        Logout
                    </a>
                </div>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
    
    <div id="log"></div>
</body>
</html>
