<ion-popover-view id="stops-menu-popover" style="height: auto !important;">
  <ion-content class="stops-menu-popover-content" scroll="false" style=" top: 0; position: relative;">
    <div class="list">
		<a ng-click='onActionSelected("details")' class="item item-icon-left stops-popover-menu-item" href="#"><i class="icon fa fa-info-circle stops-popover-menu-item-icon"></i>{{messages.signStop.stopMenuDetails}}</a>
		<a ng-click='onActionSelected("noPod")' ng-show="isDelivery(stop) == true" class="item item-icon-left stops-popover-menu-item stops-popover-menu-item-with-border-top" href="#"><i class="stops-popover-menu-item-icon"></i>{{messages.signStop.noPod}}</a>
		<a ng-click='onActionSelected("podMethod")' ng-show="isDelivery(stop) == true" class="item item-icon-left pod-method-label stops-popover-menu-item" href="#"><i class="icon fa fa-camera stops-popover-menu-item-icon" ></i>
		{{label.podMethod}}</a>
		<a ng-click='onActionSelected("")' class="item item-icon-left stops-popover-menu-item" href="#"><i class="stops-popover-menu-item-icon"></i>{{messages.signStop.signStopItem}}</a>
		<a ng-click='onActionSelected("")' class="item item-icon-left stops-popover-menu-item stops-popover-menu-item-with-border-top" href="#">
		<i class="icon fa fa-map-marker stops-popover-menu-item-icon light-grey-color-7"><i class="icon fa fa-ban stops-popover-menu-item-icon orange-color-4"></i></i>{{messages.signStop.signStopCancel}}</a>
    </div>
  </ion-content>
</ion-popover-view>