<ion-view data-name="AppLangSettings"> 
	
	<ion-content scroll="false">
		<div class="bar bar-header appstatus-header" style="z-index: 100">
			<button class="button menu-button" ng-click='goBack()'>
				<i class="fa fa-lg fa-arrow-left blue-color-4"></i>
			</button>
			<div class="blue-color-4 appstatus-header-text">{{messages.languageSettingsText}}</div>
		</div>
		<div class="list" id="settingsLangList">
			<div class="item item-icon-left" ng-repeat="language in languages track by $index">
				<a href="" ng-click="loadNewLanguage(language)">
					<i class="icon fa fa-check menu-item-icon" ng-show="language.isSelected"></i>
					<h2>{{language.value}}</h2>
				</a>
			</div>
		</div>
	</ion-content> 
</ion-view>